body {
  background-image: url("../resources/background.jpg");
  background-attachment: fixed;
  margin: 0%;
}

h1 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100%;
}

.mainImage {
  width: 80%;
  border-radius: 0%;
  border: none;
  box-shadow: none;
  margin-bottom: 50px;
}

.menu {
  position: sticky;
  top: 0px;
  width: 100%;
}

body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-radius: 5%;
  box-shadow: 10px 5px 10px #464545;
}

.menu-main {
  list-style: none;
  padding: 25px 0 5px;
  text-align: center;
  background: white;
}

.menu-main p {
  margin-top: 0px;
  font-size: 25px;
  font-weight: bold;
}

.menu-main li {
  display: inline-block;
}
.menu-main li:after {
  content: "|";
  font-weight: bold;
  color: #130f0f;
  display: inline-block;
  vertical-align: top;
}
.menu-main li:last-child:after {
  content: none;
}
.menu-main a {
  text-decoration: none;
  font-family: Georgia, serif, sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color 0.2s;
}
.menu-main a,
.menu-main a:visited {
  color: #130f0f;
}
.menu-main a.current,
.menu-main a:hover {
  color: #86befe;
}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #86befe;
  transition: 0.8s;
}
.menu-main a:hover:before,
.menu-main .current:before {
  left: 0;
}
.menu-main a:hover:after,
.menu-main .current:after {
  right: 0;
}
@media (max-width: 550px) {
  .menu-main {
    padding-top: 0;
  }
  .menu-main li {
    display: block;
  }
  .menu-main li:after {
    content: none;
  }
  .menu-main a {
    padding: 25px 0 20px;
    margin: 0 30px;
  }
}
